.myHeader {
    background: linear-gradient(90deg, #FFEFBA 0%, #FFFFFF 100%);
    overflow-x: hidden;
}

.contactBtn {
    width: 140;
    height: 40;
    opacity: 1;
    top: 32px;
    left: 1033px;
    gap: 10px;
    border-radius: 30px;
    padding-top: 5px;
    padding-right: 26px;
    padding-bottom: 5px;
    padding-left: 26px;
    background: linear-gradient(90deg, #FFE259 0%, #FFA751 100%);
    border: none;
    color: white;
}

.StartedBtn {
    width: 200;
    height: 50;
    opacity: 1;
    top: 570px;
    left: 149px;
    gap: 10px;
    border-radius: 30px;
    padding-top: 9px;
    padding-right: 45px;
    padding-bottom: 9px;
    padding-left: 45px;
    border-width: 1px;
    background: linear-gradient(90deg, #FF4E50 0%, #F9D423 100%);
    color: #fff;
    border: none;

}
@media (max-width: 576px){
    .row{
        flex-direction: column-reverse;
        display: flex;
        align-items: center;
    }
    .myPara{
        width: 300px;
        text-align: center;
    }
    .StartedBtn{
        margin-left: 60px;
        margin-bottom: 50px;
    }
 }
